.tap_on {
    width: 6000px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 6px rgba(0,0,0,0.25);
    position: absolute; 
    top: -5px;
    left: 0px;
    z-index: 1; 
}
.tap_under {
    width: 5000px;
    height: 150px;
    background-color: rgb(15, 15, 15);
    position: absolute; 
    top: 730px;
    left: 0px;
    z-index: 1;
}
.logo {
    width: 55px;
    height: 55px;
    transform: rotate(360deg); 
    position: absolute; 
    top: 15px;
    left: 40px;
    z-index: 2; 
}
.bg {
    width: 1000px; 
    transform: rotate(270deg); 
    margin-top: -130px;
    position: absolute;  
    top: -200px;          
    left: 200px;       
    z-index: 0; 
}
@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('KanitFont/Kanit-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url('KanitFont/Kanit-ExtraLight.ttf') format('truetype');
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);  /* เริ่มจากเลื่อนลงมา */
  }
  100% {
    opacity: 1;
    transform: translateY(0);     /* กลับไปตำแหน่งปกติ */
  }
}
h1 {
    font-size: 20px; 
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    left: 120px;
    z-index: 3;
}
h2 {
    font-size: 55px; 
    font-family: 'Kanit-SemiBold', sans-serif;
    color: #000000;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 80px;
    left: 500px;
    z-index: 3;
    animation: slideUp 1.2s ease-out forwards; 
}
h3 {
    font-size: 30px; 
    font-family: 'Kanit-ExtraLight', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 180px;
    left: 270px;
    z-index: 3;
    animation: slideUp 1.2s ease-out forwards; 
}
h4 {
    font-size: 30px; 
    font-family: 'Kanit-ExtraLight', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 210px;
    left: 470px;
    z-index: 3;
    animation: slideUp 1.2s ease-out forwards; 
}
h5 {
    font-size: 25px;
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(255, 255, 255);
    white-space: nowrap; 
    position: absolute;
    top: 530px;
    left: 100px;
    z-index: 5;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
h6 {
    font-size: 25px;
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(255, 255, 255);
    position: absolute;
    top: 535px;
    left: 495px;
    z-index: 5;
    animation: slideUp 1.2s ease-out forwards;
}
h7 {
    font-size: 25px;
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(255, 255, 255);
    position: absolute;
    top: 593px;
    left: 875px;
    z-index: 5;
     animation: slideUp 1.2s ease-out forwards; 
}
.kaorop {
    width: 300px; 
    height: 270px;
    position: absolute; 
    top: 330px;
    left: 80px;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25);
    z-index: 3; 
    transition: filter 0.3s ease-in-out;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.sinhan {
    width: 300px; 
    height: 270px;
    position: absolute; 
    top: 350px;
    left: 470px;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25);
    z-index: 3; 
    animation: slideUp 1.2s ease-out forwards;
}
.kwahan {
    width: 300px; 
    height: 270px;
    position: absolute; 
    top: 350px;
    left: 850px;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25);
    z-index: 3; 
    animation: slideUp 1.2s ease-out forwards; 
}
.tap_kaorop {
    width: 300px; 
    height: 70px;
    background-color: rgb(0, 91, 20);
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    position: absolute;
    top: 560px;
    left: 80px;
    border-radius: 10px;
    z-index: 4; 
    transition: filter 0.3s ease-in-out;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tap_sinhan {
    width: 300px; 
    height: 70px;
    background-color: rgb(0, 91, 20);
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    position: absolute;
    top: 580px;
    left: 470px;
    border-radius: 10px;
    z-index: 4; 
    animation: slideUp 1.2s ease-out forwards; 
}
.tap_kwahan {
    width: 300px; 
    height: 70px;
    background-color: rgb(0, 91, 20);
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    position: absolute;
    top: 580px;
    left: 850px;
    border-radius: 10px;
    z-index: 4; 
    animation: slideUp 1.2s ease-out forwards; 
}
.Salutation {
  display: inline-block;
  position: relative;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), filter 0.3s ease; 
  animation: slideUp 1.2s ease-out forwards; 
}
.Salutation:hover {
  filter: brightness(60%);  
  cursor: pointer;
  transform: translateY(-10px); 
}
.Salutation:hover h5 {
    transform: translateY(-10px); 
    transform: scale(1.05);
}
.Salutation:hover .kaorop {
    transform: translateY(-10px); 
     transform: scale(1.05);
}
.Salutation:hover .tap_kaorop {
    transform: translateY(-10px); 
     transform: scale(1.05);
}