.tap_on {
    width: 9000px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 6px rgba(0,0,0,0.25);
    position: absolute; 
    top: -5px;
    left: 0px;
    z-index: 1; 
}
.logo {
    width: 55px;
    height: 55px;
    transform: rotate(360deg); 
    position: absolute; 
    top: 15px;
    left: 40px;
    z-index: 2; 
}
h1 {
    font-size: 20px; 
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(47, 47, 47);
    position: absolute;
    top: 15px;
    left: 120px;
    z-index: 3;
}
h2 {
    font-size: 32px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(47, 47, 47);
    position: absolute;
    top: 720px;
    left: 130px;
    z-index: 3;
}
h6 {
    font-size: 40px; 
    font-family: 'Kanit-SemiBold', sans-serif;
    color : rgb(0, 34, 255);
    position: absolute;
    top: 560px;
    left: 130px;
    z-index: 3;
}
h7 {
    font-size: 30px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 653px;
    left: 815px;
    z-index: 3;
}
h3 {
    font-size: 32px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(47, 47, 47);
    position: absolute;
    top: 870px;
    left: 130px;
    z-index: 3;
}
h4 {
    font-size: 70px; 
    font-family: 'Kanit-Regular', sans-serif;
    color: rgb(34, 170, 255);
    position: absolute;
    top: 685px;
    left: 130px;
    z-index: 3;
}
h5 {
    font-size: 63px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(255, 63, 63);
    position: absolute;
    top: 838px;
    left: 130px;
    z-index: 3;
}
h9 {
    font-size: 65px; 
    font-family: 'Kanit-SemiBold', sans-serif;
    color: rgb(255, 196, 0);
    position: absolute;
    top: 695px;
    left: 900px;
    z-index: 3;
}
.bg {
    height: 1450px;
    width: 1450px; 
    transform: rotate(0deg); 
    margin-top: -130px;
    position: absolute;  
    top: 100px;          
    left: 0px;       
    z-index: 0; 
}
@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('KanitFont/Kanit-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url('KanitFont/Kanit-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit-Regular';
    src: url('KanitFont/Kanit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit-Bold';
    src: url('KanitFont/Kanit-Bold.ttf') format('truetype');
}
.white {
    width: 620px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    position: absolute; 
    top: 620px;
    left: 55px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    border-radius: 12px;
    z-index: 1;
}
.white3 {
    width: 1170px;
    height: 73px;
    background-color: rgb(255, 255, 255);
    position: absolute; 
    top: 1105px;
    left: 55px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    border-radius: 12px;
    z-index: 3;
}
.white2 {
    width: 520px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    position: absolute; 
    top: 620px;
    left: 700px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    border-radius: 12px;
    z-index: 1;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 840px;
    height: 450px;
    position: absolute;
    top: 130px;
    left: 200px;
    object-fit: cover;
    z-index: 4;
    border: none;
    border-radius: 15px;
    display: none;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.25); /* เงา */
    transform: scaleX(-1);
}
video-btn {
    display: block;
}
h10 {
    font-size: 25px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 1123px;
    left: 370px;
    z-index: 3;
}
h10:hover {
    color: #2600ff;
    text-decoration: underline;
}
h11 {
    font-size: 25px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 1123px;
    left: 580px;
    z-index: 3;
}
h11:hover {
    color: #2600ff;
    text-decoration: underline;
}
h12 {
    font-size: 25px; 
    font-family: 'Kanit-Regular', sans-serif;
    color : rgb(0, 0, 0);
    position: absolute;
    top: 1120px;
    left:800px;
    z-index: 3;
    display: inline-block; /* สำคัญ: ทำให้กล่องล้อมรอบเนื้อหาพอดี */
    padding: 5px 20px; /* ระยะห่างระหว่างตัวอักษรกับขอบกรอบ */
    color: #2600ff;
    background-color: #c3d3f3;
    border-radius: 30px;
}
h12:hover {
    text-decoration: underline;
}
.countdown {
    font-size: 150px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 20px 0;
    font-family: 'Kanit-Regular', sans-serif;
    position: absolute;
    top: 220px;
    left: 600px;
    z-index: 4;
}
        
#camera {
    display: none;
    max-width: 100%;
    font-size: 25px; 
    font-family: 'Kanit-Regular', sans-serif;
    position: absolute;
    z-index: 3;
}
        
.camera-permission {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    color: #666;
    font-size: 25px; 
    font-family: 'Kanit-Regular', sans-serif;
    position: absolute;
    top: 300px;
    left: 560px;
    z-index: 4;
}
.tap_under {
    width: 5000px;
    height: 150px;
    background-color: rgb(15, 15, 15);
    position: absolute; 
    top: 1300px;
    left: 0px;
    z-index: 3;
}